<div class="gradient-custom container-fluid">

    <ng-template #contenido let-modal>
        <div class="modal-header">
            <h2 class="modal-title">Ingresar nueva Reservación</h2>

            <button class="close" aria-label="Close" type="button" (click)="modal.dismiss()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <div class="modal-body">
            <strong>Datos del cliente</strong>
            <hr>
            <div class="form-group row">
                <div class="col-md-6">
                    <label for="name">Nombre</label>
                    <input type="text" class="form-control" placeholder="Nombre" id="CLI_NOMBRE"
                        [(ngModel)]="reservacion_data.CLI_NOMBRE">
                </div>
                <div class="col-md-6">
                    <label for="name">Apellidos</label>
                    <input type="text" class="form-control" placeholder="Apellidos" id="CLI_APELLIDOS"
                        [(ngModel)]="reservacion_data.CLI_APELLIDOS">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <label for="name">Nro de Identificación</label>
                    <input type="text" class="form-control" placeholder="Identificación" id="CLI_IDENTIFI"
                        [(ngModel)]="reservacion_data.CLI_IDENTIFI">
                </div>
                <div class="col-md-6">
                    <label for="name">Nacionalidad</label>
                    <input type="text" class="form-control" placeholder="Nacionalidad" id="CLI_NACIONALIDAD"
                        [(ngModel)]="reservacion_data.CLI_NACIONALIDAD">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <label for="name">Teléfono</label>
                    <input type="text" class="form-control" placeholder="Teléfono" id="CLI_TELEFONO"
                        [(ngModel)]="reservacion_data.CLI_TELEFONO">
                </div>
                <div class="col-md-6">
                    <label for="name">Correo</label>
                    <input type="email" class="form-control" placeholder="Correo" id="CLI_CORREO"
                        [(ngModel)]="reservacion_data.CLI_CORREO">
                </div>

            </div>


            <div class="form-group">
                <label for="name">Dirección</label>
                <input type="text" class="form-control" placeholder="Dirección" id="CLI_DIRECCION"
                    [(ngModel)]="reservacion_data.CLI_DIRECCION">
            </div>
            <hr>
            <div>
                <strong>Datos de la Reservación</strong>
                <hr>
                <div class="form-group row">
                    <div class="col-auto col-md-6">
                        <label for="name">Fecha de llegada</label>
                        <input type="date" id="start" name="trip-start" value="{{today}}" min="{{today}}"
                            class="form-control" required [(ngModel)]="fecha">
                        <span class="validity"></span>
                    </div>

                    <div class="col-auto col-md-6">
                        <label for="name">Días de hospedaje</label>
                        <input type="number" min="1" class="form-control" placeholder="Días de hospedaje" id="RES_NDIAS"
                            [(ngModel)]="reservacion_data.RES_NDIAS">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-auto col-md-6">
                        <label for="name">Número de personas</label>
                        <input type="number" min="1" class="form-control" placeholder="Nro Personas" id="RES_NPERSONAS"
                            [(ngModel)]="reservacion_data.RES_NPERSONAS">
                    </div>
                    <div class="col-auto col-md-6">
                        <label for="name">Vehículo</label>
                        <select class="form-select" aria-label="Default select example" id="RES_VEHICULO"
                            [(ngModel)]="reservacion_data.RES_VEHICULO">
                            <option value=1>SI</option>
                            <option value=0>NO</option>
                        </select>
                    </div>

                </div>
                <div class="form-group">
                    <label for="name">Observación</label>
                    <textarea name="RES_OBSERVACION" id="RES_OBSERVACION" class="form-control" placeholder="Observacion"
                        [(ngModel)]="reservacion_data.RES_OBSERVACION"></textarea>
                </div>
            </div>
            <hr>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="guardar_Editar_Res()"> OK</button>
            </div>
        </div>
    </ng-template>

    <div class="container-fluid">
        <div class="row row row-cols-2">
            <div class="col-auto col-md-3 bg-dark">
                <app-sidebar></app-sidebar>
            </div>
            <br>
            <div class="col-md-9 text-white">
                <div class="row justify-content-between">

                    <div class="col-md-3">
                        <br>
                        <h3 class="text-uppercase text-white"> Nueva Reservacion</h3>
                        <button type="button" class="btn btn-danger" (click)="openModal(contenido)">Nueva
                            Reservación</button>
                    </div>
                    <div class="col-md-6">
                        <br>
                        <br>
                        <div class="input-group mb-3 container-fluid">
                            <input type="text" class="form-control" placeholder="¿Qué deseas encontrar?"
                                aria-label="Recipient's username" aria-describedby="basic-addon2"  [(ngModel)]="cedula">
                            <div class="input-group-append">
                                <button class="btn btn-danger" type="button" (click)="buscar()">Buscar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row flex-nowrap linea justify-content-md-center">
                    <div class="col-auto">
                        <div class="table-responsive-sm">
                            <table class="table">
                                <thead class="thead-dark text-white">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Cliente</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Apellidos</th>
                                        <th scope="col">Fecha</th>
                                        <th scope="col">Días de hospedaje</th>
                                        <th scope="col"># Personas</th>
                                        <th scope="col"># Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let res of reservaciones; let i =index"
                                        class="thead-dark text-white justify-content-md-center">
                                        <td>{{i+1}}</td>
                                        <td>{{res.CLI_IDENTIFI}}</td>
                                        <td>{{res.CLI_NOMBRE}}</td>
                                        <td>{{res.CLI_APELLIDOS}}</td>
                                        <td>{{res.RES_DIA}}/{{res.RES_MES}}/{{res.RES_ANO}}</td>
                                        <td>{{res.RES_NDIAS}}</td>
                                        <td>{{res.RES_NPERSONAS}}</td>
                                        <td>
                                            <button class="btn btn-primary btn-sm" (click)="editar(contenido,res.RES_ID)"
                                                placeholder="Editar">
                                                <mat-icon>edit</mat-icon>
                                            </button>

                                            <button class="btn btn-danger btn-sm" (click)="eliminar(res.RES_ID)">
                                                <mat-icon>delete_outline</mat-icon>
                                            </button>

                                            <button class="btn btn-success btn-sm" (click)="enviarDatos(res.RES_ID)" routerLink="/checkin" >
                                                <mat-icon>assignment</mat-icon>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>