<app-navbar></app-navbar>
<div class="container-fluid gradient-custom">
    <h6>&nbsp;</h6>
    <div class="container-fluid">
        <div class="row">
            <div class="col" *ngFor="let data of cards_data">
                <div class="card gradient-custom custom" style="width: 18rem;">
                    <img class="card-img-top" src={{data.INST_PORTADA}} alt="Card image cap">
                    <div class="card-body text-white">
                        <h5 class="card-title">{{data.INST_NOMBRE}}</h5>
                        <a class="btn btn-primary" [routerLink]="['/detalle',data.INST_ID]">Ver más</a>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
    <h6>&nbsp;</h6>
    <div class="grid-container">
        <app-footer></app-footer>
    </div>
</div>