<div class="gradient-custom container-fluid">
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                <app-sidebar></app-sidebar>
            </div>
            <div class="col-auto col-md-9 main-container">
                <br>
                <div class="row justify-content-between">
                    <h6>&nbsp;</h6>   <!--Crear un espacio entre divs-->
                    <div class="col-md-auto text-white">
                                                                                                                      
                    </div>
                    <h6>&nbsp;</h6>   <!--Crear un espacio entre divs-->
                    <div class="row flex-nowrap linea container-fluid justify-content-md-center">
                        
                        <div class="col-auto responsive container-fluid">
                            <div class="table-responsive-sm">
                                <table class="table">
                                    <thead class="thead-dark text-white">
                                       
                                    </thead>
                                    <tbody>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>