
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
            <ul class="nav nav-pills align-items-center align-items-sm-start" id="menu" *ngFor="let item of menus | keys;">
                <li class="nav-item">
                    <a routerLink="{{ menus[item].MENU_ENLACE }}" class="nav-link align-middle px-0 text-dark">
                        <mat-icon class="text-dark">{{ menus[item].MENU_ICONO }}</mat-icon>
                        <span class="ms-1 text-dark">{{ menus[item].MENU_NOMBRE }}</span>
                    </a>
                </li>
            </ul>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
                *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>Hostal Orlando's</span>
            <div class="user-dropdown" style="margin-left: auto;">
                <button mat-icon-button [matMenuTriggerFor]="userMenu">
                    <mat-icon>person</mat-icon>
                </button>
                <mat-menu #userMenu="matMenu">
                    <button mat-menu-item (click)="cerrarSesion()">Cerrar Sesión</button>
                </mat-menu>
            </div>
        </mat-toolbar>
        <div class="grid-container">
            <h1 class="mat-h1">Cuentas Cerradas</h1>
            <mat-grid-list cols="1" rowHeight="600px">
                <div class="container-fluid">
                    <div class="row">
                        <div>
                            <br>
                            <div class="row justify-content-end">
                                <div class="col-md-auto col-lg-auto">
                                    <br>
                                    <mat-form-field appearance="fill">
                                        <mat-label>Buscar cliente</mat-label>
                                        <input matInput type="text" (input)="filter()">
                                    </mat-form-field>
                                    <button mat-raised-button color="warn">Buscar</button>
                                </div>
                                <h6>&nbsp;</h6>
                                <!--Crear un espacio entre divs-->
                                <div class="row flex-nowrap linea justify-content-center">
                                    <div class="col-auto responsive">
                                        <div class="table-responsive-xl">

                                            <table class="table">
                                                <thead class="thead-dark text-black">
                                                    <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Cliente</th>
                                                        <th scope="col">Identificación</th>
                                                        <th scope="col">Total</th>
                                                        <!--<th scope="col">Acciones</th>-->
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let cuenta of cuentas; let i =index" class="thead-dark text-black justify-content-md-center">
                                                        <td>{{i+1}}</td>
                                                        <td>{{cuenta.CLI_NOMBRE}} {{cuenta.CLI_APELLIDOS}}</td>
                                                        <td>{{ cuenta.CLI_IDENTIFI }}</td>
                                                        <td>{{ cuenta.CUENT_TOTAL }}</td>
                                                        <!--<td><button mat-icon-button color="primary"
                                                            [routerLink]="['/detalledecuenta',cuenta.CUENT_ID]">
                                                            <mat-icon>visibility</mat-icon>
                                                        </button></td>-->
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-grid-list>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>