<app-navbar></app-navbar>
<div class="container-fluid gradient-custom">
    <h6>&nbsp;</h6>
    <div class="d-flex justify-content-center">
        <div class="childContainer ">
            <div class="row">
                <div class="col-auto">
                    <div class="card gradient-custom custom" style="width: 100%;">
                        <img class="card-img-top" src="https://live.staticflickr.com/65535/52861596277_212dc1540d.jpg"
                            alt="Card image cap">
                        <div class="card-body text-white">
                            <h5 class="card-title">HABITACIÓN MATRIMINIAL</h5>
                            <p class="card-description">1 Cama matrimonial para dos personas.</p>
                            <p class="card-description"><strong>Precio:</strong> 15$ por persona.</p>
                            <p class="card-description"><strong>Capacidad:</strong> 2 personas.</p>
                            <a class="btn btn-primary" (click)="agregarHabitacion(1,2)">Agregar</a>
                        </div>
                    </div>
                    <br>
                </div>
            </div>

            <div class="row">
                <div class="col-auto">
                    <div class="card gradient-custom custom" style="width: 100%;">
                        <img class="card-img-top" src="https://live.staticflickr.com/65535/52845573089_491aceb796.jpg"
                            alt="Card image cap">
                        <div class="card-body text-white">
                            <h5 class="card-title">HABITACIÓN DOBLE</h5>
                            <p class="card-description">2 camas individuales</p>                            
                            <p class="card-description"><strong>Precio:</strong> 15$ por persona.</p>
                            <p class="card-description"><strong>Capacidad:</strong> 2 personas.</p>
                            <a class="btn btn-primary"(click)="agregarHabitacion(2,2)">Agregar</a>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-auto">
                    <div class="card gradient-custom custom" style="width: 100%;">
                        <img class="card-img-top" src="https://live.staticflickr.com/65535/52845837828_60095c3bdd.jpg"
                            alt="Card image cap">
                        <div class="card-body text-white">
                            <h5 class="card-title">HABITACIÓN TRIPLE</h5>
                            <p class="card-description">3 camas individuales</p>
                            <p class="card-description"><strong>Precio:</strong> 15$ por persona.</p>
                            <p class="card-description"><strong>Capacidad:</strong> 3 personas.</p>
                            <a class="btn btn-primary" (click)="agregarHabitacion(3,3)">Agregar</a>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-auto">
                    <div class="card gradient-custom custom" style="width: 100%;">
                        <img class="card-img-top" src="https://live.staticflickr.com/65535/52844791532_ff6a52db74.jpg"
                            alt="Card image cap">
                        <div class="card-body text-white">
                            <h5 class="card-title">HABITACIÓN MATRIMONIAL 3r PISO</h5>
                            <p class="card-description">1 Cama matrimonial para dos personas</p>
                            <p class="card-description"><strong>Precio:</strong> 20$ por persona.</p>
                            <p class="card-description"><strong>Capacidad:</strong> 2 personas.</p>
                            <a class="btn btn-primary" (click)="agregarHabitacion(4,2)">Agregar</a>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>



</div>