
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
            <ul class="nav nav-pills align-items-center align-items-sm-start" id="menu" *ngFor="let item of menus | keys;">
                <li class="nav-item">
                    <a routerLink="{{ menus[item].MENU_ENLACE }}" class="nav-link align-middle px-0 text-dark">
                        <mat-icon class="text-dark">{{ menus[item].MENU_ICONO }}</mat-icon>
                        <span class="ms-1 text-dark">{{ menus[item].MENU_NOMBRE }}</span>
                    </a>
                </li>
            </ul>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
            <span>Hostal Orlando's</span>
            <div class="user-dropdown" style="margin-left: auto;">
                <button mat-icon-button [matMenuTriggerFor]="userMenu">
            <mat-icon>person</mat-icon>
          </button>
                <mat-menu #userMenu="matMenu">
                    <button mat-menu-item (click)="cerrarSesion()">Cerrar Sesión</button>
                </mat-menu>
            </div>
        </mat-toolbar>
        <div class="grid-container">
            <h1 class="mat-h1">Depósitos</h1>
            <mat-grid-list cols="1" rowHeight="450px">


                <div class="flex-nowrap">
                    <br>
                    <div class="">
                        <div class="d-flex align-items-center">
                            <div class="col-md-auto">
                                <div class="button-group">
                                    
                                </div>
                            </div>
                            <div class="d-flex justify-content-end">
                                <div class="col-md-auto">
                                    
                                </div>
                                <div class="col-md-auto">
                                    
                                </div>
                            </div>

                        </div>

                        <h6>&nbsp;</h6>
                        <div class="row flex-nowrap linea justify-content-md-center">
                            <div class="col-auto">
                                <div class="table-responsive-sm">
                                    <table class="table">
                                        <thead class="thead-dark text-black">
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Reservación</th>
                                                <th scope="col">Cliente</th>
                                                <th scope="col">Transacción</th>
                                                <th scope="col">Cantidad</th>
                                                <th scope="col">Confirmar</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let dep of depositos; let i =index" class="thead-dark text-black justify-content-md-center">
                                                <td>{{i+1}}</td>
                                                <td>{{dep.RES_ID}}</td>
                                                <td>{{dep.CLI_NOMBRE}} {{dep.CLI_APELLIDOS}}</td>
                                                <td>{{dep.DEP_TRANSACCION}}</td>
                                                <td>{{dep.DEP_CANTIDAD}}</td>
                                                <td><button mat-icon-button color="primary" (click)="confirmar(dep.RES_ID)"><mat-icon>check</mat-icon></button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-grid-list>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>